#title, #description{
    text-align: center;
}

h1, p {
    line-height: .5
}

#title{
    padding-top: 15px;
    color: Blue;
}

.outerform{
   margin-right:auto;
   margin-left:auto;
 
   background-color: silver;
   max-width: 700px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
}

#submit:hover{
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}



html{
    display: block;
    text-align: center;
    min-width:260px;
    background-color: LightSalmon;
}
#survey-form{
   
   margin-bottom: 0px;
  
}

#submit{
    margin-bottom:20px;
}

#name-label, #email-label, #number-label, .dropdown, #radio, #checkbox, #textarea{
font-size: 20px
}


@media screen and (max-width: 520px) {
  .outerform {
    
    float: left;
  }
#submit{

    width:80% !important;
}
}